.body {


    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
   
    border-radius: 20px;
    margin: 30px;
    padding-top: 2px;
    padding-left: 10px;

}

p {

    margin-top: 0px;
    margin-bottom: 5px;
}

h2 {
    
    margin-bottom: 5px;
}

img {
    margin: auto;
    width: 50%;

}

.image {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 20px;

}