.todo{
    text-align: center;
    
    margin: 30px;
   

    .todo-task{
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
        border-radius: 20px;

    }
    .add-todo{
        margin-top: 2vh;
        margin-bottom: 2vh;
    }
}