.body{
  margin-top: 15vh;
}
  h2{
    text-align: center;
    margin-bottom: 0px;
    
  }
  
  body {
    margin-top: 10px !important;
  }
 
  .swiper {
    width: 100%;
    margin-top: 10px !important;
   
  
  }
  
  .swiper-slide {
    background-position: center;
    background-size: cover;
  
    background-color: blue($color: #db1b1b);
    
  }
  

